.site-layout-content
  width: 100%
  height: calc(100vh - 64px - 70px)
  padding: 50px
  box-sizing: border-box
  .button-group
    display: flex
    justify-content: flex-end
    margin-bottom: 50px
    .button
      margin-left: 10px
